@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
}

body {
  width: fit-content;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 40px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  border: 15px solid gray;
}

.title {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title h1:first-of-type {
  color: #b40b0b;
}

.title h1:last-of-type {
  text-transform: uppercase;
  color: gray;

  font-size: 29px;
  letter-spacing: 1px;
}

form {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  border: 1px solid gray;
}

input[type='text'] {
  margin-top: 2px;
}

input:not([type='radio']) {
  width: 100%;
  padding: 5px 10px;

  font-size: 16px;

  border: 1px solid gray;
  border-radius: 5px;
}

label[for='parcelas'] input[type='number'] {
  width: 100px;
  padding: 0;
  padding: 3px;
}

label {
  user-select: none;
}

label[for='sim'] {
  margin: 0 10px;
}

label[for='seguro'] {
  display: flex;
  align-items: center;
  gap: 10px;
}

label[for='seguro'] input {
  width: auto;
}

form button {
  cursor: pointer;
  align-self: flex-start;
  padding: 10px;
  font-weight: 500;

  border: none;
  border-radius: 4px;
  background-color: orange;
  color: #000;
}

form button:active {
  transform: scale(0.96);
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.resultado p {
  font-weight: 500;
}

.resultado .juros,
.professor {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: gray;
}
